body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    background: rgb(170,170,170);
    color: black;
    justify-content: space-between;
}

.header-content {
    padding: 1em;
    align-items: center;
    font-weight:bold;
}

#right {
    display: flex;
    align-items: center;
}
#right a{
    padding: 1em;
}

footer {
    background: rgb(170,170,170);
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
}

#image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#target-image {
    margin: 1em;
    border: 2px solid rgb(170,170,170);
    max-width: 500px;
    border-radius: 10px;
}

#login-buttons {
    display: flex;
    padding: 1em;
    justify-content: center;
}

#login-buttons button {
    background-color: rgb(170,170,170);
    margin: 10px;
    border-radius: 10px;
    border: none;
    padding: 10px;
    cursor: pointer;
}

#login-buttons button:hover {
    background-color: rgb(200,200,200);
}

#login-fields {
    display: flex;
    flex-direction: column;
}

#radio-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

 #radio-buttons input[type="radio"] {
    display: none;
} 

input[type="radio"] + label {
    background-color: rgb(170,170,170);
    color: black;
    padding: 10px 10px;
    cursor: pointer;
    border-radius: 10px;
    margin: 10px;
}

input[type="radio"]:checked + label{
    background-color: rgb(210,210,210);
}

input[type="radio"]:hover + label{
    background-color: rgb(180,180,180);
}

input[type="radio"]:checked:hover + label{
    background-color: rgb(220,220,220);
}

#custom-theme-selector-wrapper {
    display: none;
}

#custom-theme-selector-wrapper.visible {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

legend {
    display: flex;
    justify-content: center;
}

div#palette {
    display: flex;
    justify-content: center;
}

#palette-title {
    display: flex;
    justify-content: center;
}

.palette-swatch {
    display: inline-block;
    height: 1em;
    width: 1em;
    border: 1px solid rgb(170,170,170);
}

#image-buttons-loading-container {
    display: none;
} 

#image-buttons button {
    background-color: rgb(170,170,170);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#card-container {
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    display: grid;
    border: 2px solid rgb(170,170,170);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(10,1fr);
    border-radius: 10px;
    max-width: 500px;
    max-height: 300px;
}

#card-title {
    grid-row: 1;
    grid-column: 1/6;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 5px;
}

#card-image {
    grid-row: 2 / 11;
    grid-column: 1 / 5;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
}

#card-palette {
    grid-row: 2/11;
    grid-column: 5;
    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
}

#card-palette-color {
    display: inline-block;
    height: 100%;
    width: 100%;
}

#card-palette-color1 {
    grid-row: 1;  
}
#card-palette-color2 {
    grid-row: 2;
}
#card-palette-color3 {
    grid-row: 3;
}
#card-palette-color4 {
    grid-row: 4;
}
#card-palette-color5 {
    grid-row: 5;
}
#card-palette-color6 {
    grid-row: 6;
}
#card-palette-color7 {
    grid-row: 7;
}
#card-palette-color8 {
    grid-row: 8;
    border-bottom-right-radius: 9px;
}

.modal {
    position: fixed;
    top: 0;
    left: 15%;
    width: 75%;
    height: 50%;
    z-index: 1;
    justify-content: center;
    align-items: center;
    transform: translateY(-500px);
    transition: transform 0.3s;
}

.modal.visible {
    transform:  translateY(0);
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    text-align: center;
}

#modal-understood {
    background-color: rgb(170,170,170);
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
pre {
    text-align: left;
}